.DS_Store
/Resources/iso/*
!/Resources/iso/README.md
/output-vmware/
/output-vmware-iso/
/output-vmware-vmx/
/output-virtualbox/
/output-virtualbox-iso/
/output-virtualbox-ovf/
/*.box
/packer_cache/

